<div class="container">
    <h5>Sobre o Projeto</h5>
    <p>
        Olá, amigos, sejam muito bem vindos a este projeto que está sendo desenvolvido com todo auxílio da comunidade.
    </p>
    <p>
        Inicialmente, a ideia é reunir o máximo de informações sobre peças alternativas de motos custom que há no mercado.
    </p>
    <p>
        Porque só motos custom? Porque é a parcela de motos que mais se tem dificuldade de encontrar peças originais.
        A informação na internet sobre essas peças é muito escassa. Assim como eu tive dificuldade, acredito que também
        outras pessoas passem por isso.
    </p>
    <p>
        Então, para quaisquer contribuições que puderem fazer para este projeto, vou precisar das seguintes informações:
    </p>
    <p>
        <b>moto original: fabricante, modelo, ano, peça</b>
    </p>
    <p>
        <b>peça(s) alternativa(s): fabricante, modelo, ano.</b>
    </p>
    <p>
        Podem enviar as informações via <br>
        
        facebook: <a href="https://www.facebook.com/willianbellos" target="_blank">Willian Bello</a> <br>
        email: <a href="mailto:willianbello.s@gmail.com">willianbello.s@gmail.com</a>
    </p>
    <p>
        Obs: Se não souber o ano não tem problema.
    </p>
    <p>
        Bons ventos, segurança e um grande abraço a todos!
    </p>
    <h5 class="text-center">
        Criado e desenvolvido por Willian Bello.
    </h5>
</div>